<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect requests to files or directories that don't exist
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Route all requests through index.php
    RewriteRule . index.php [L]
</IfModule>